body {
  font-family: "Product Sans",Arial,sans-serif;
  color: rgb(100, 100, 100);
  background-color: rgb(243, 243, 243);

}
.heading {
  font-size: 30px;
  font-family: "Product Sans",Arial,sans-serif;
  color: rgb(100, 100, 100);
  height: 40px;

}

nav {
  background-color: white;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
  height: 70px;
  border: 1px solid;
  border-color: rgb(190, 190, 190);
}

.translate-box {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: white;
  margin: 20px 30px;
  height: 300px;
  border: 1px solid;
  border-color: rgb(190, 190, 190);

}

.translate-header{
  align-items: center;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: 1px solid;
  border-color: rgb(190, 190, 190);
}
.translate {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.text-form {
  width: 100%;
  height: 100%;
}
input {
  color: rgb(100, 100, 100);
  font-size: 25px;
  font-family: "Product Sans",Arial,sans-serif;
  width: calc(100% - 40px);
  border: 0;
  height: auto;
  padding: 20px;
}
.translate-from{
  font-size: 25px;
  min-width: 50%;
  border: 0;
  border-right: 1px solid;
  border-color: rgb(190, 190, 190);
}
.translate-to{
  width: 50% !important;
  text-align: left;
  font-size: 25px;
  font-family: "Product Sans",Arial,sans-serif;
  width: 50%;
  border: 0;
  height: auto;
  padding: 20px;
}
input::placeholder  {
  font-size: 25px;
}
input:focus {
  outline: none !important;
}
.language {
  width: calc(50% - 20px);
}
.arrow {
  width: 40px;
}
.history-button {
  margin: 20px 30px;
  display: flex;
  flex-direction: row-reverse;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #e9e9e9;
  color: rgb(100, 100, 100);
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 5px;
  border-radius: 3px;
  text-indent: 0.01px;
  width: 425.5px;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}


.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}